# 1. First Nootbook

1. Make Tabels

In [2]:
import numpy as np
import pandas as pd
import pyarrow.parquet as pa
import zipfile
import os

### 1-1 unzip file

unzipe main data togheder

In [ ]:
folder = 'D:/DATA_Analayses/Project/TennisGame/data/raw/202405'
extension = ".zip"

os.chdir(folder) 

for item in os.listdir(folder): 
    if item.endswith(extension): 
        file_name = os.path.abspath(item) 
        zip_ref = zipfile.ZipFile(item) 
        zip_ref.extractall(folder)

Make match_home_team_info tabel

In [ ]:
path= "D:/DATA_Analayses/Project/TennisGame/data/raw/202405/data/raw/raw_match_parquet"
dris = os.listdir(path)
series_of_data = pd.Series(dris)
series_of_data_start_with_away_team = series_of_data[series_of_data.str.startswith("away_team_1")]
match_home_team_info = pd.DataFrame()

for i in range(series_of_data_start_with_away_team.size):
    value = pd.read_parquet(f'D:/DATA_Analayses/Project/TennisGame/data/raw/202405/data/raw/raw_match_parquet/{series_of_data_start_with_away_team.iloc[i]}', engine='pyarrow')
    match_home_team_info = pd.concat([match_home_team_info, value])

match_away_score_info tabel

In [ ]:
path= "D:/DATA_Analayses/Project/TennisGame/data/raw/202405/data/raw/raw_match_parquet"
dris = os.listdir(path)
series_of_data = pd.Series(dris)
series_of_data_start_with_away_team_score = series_of_data[series_of_data.str.startswith("away_team_score_")]
match_away_score_info = pd.DataFrame()


for i in range(series_of_data_start_with_away_team_score.size):
    value = pd.read_parquet(f'D:/DATA_Analayses/Project/TennisGame/data/raw/202405/data/raw/raw_match_parquet/{series_of_data_start_with_away_team_score.iloc[i]}', engine='pyarrow')
    match_away_score_info = pd.concat([match_away_score_info, value])

In [4]:
path= "D:/DATA_Analayses/Project/TennisGame/data/raw/202405/data/raw/raw_match_parquet"
dris = os.listdir(path)
series_of_data = pd.Series(dris)
series_of_data_start_with_evente = series_of_data[series_of_data.str.startswith("event_1")]
match_event_info = pd.DataFrame()


for i in range(series_of_data_start_with_evente.size):
    value = pd.read_parquet(f'D:/DATA_Analayses/Project/TennisGame/data/raw/202405/data/raw/raw_match_parquet/{series_of_data_start_with_evente.iloc[i]}', engine='pyarrow')
    match_event_info = pd.concat([match_event_info, value])

In [9]:
match_event_info.head()

,match_id,first_to_serve,home_team_seed,away_team_seed,custom_id,winner_code,default_period_count,start_datetime,match_slug,final_result_only
0,12260075,1,None,30,LOfsRUhc,2,3,1714499700,lehecka-nadal,True
0,12260076,1,1,16,FyLsvGHb,1,3,1714480500,sinner-khachanov,True
0,12260077,1,23,2,QCtsytke,2,3,1714484700,alcaraz-struff,True
0,12260078,1,7,2,fKRzytkc,1,3,1714563900,alcaraz-rublev,True
0,12260080,2,21,4,nTxsbvNb,1,3,1714488300,cerundolo-zverev,True

### 1-2 Save dataframe as CSV

In [7]:
#match_home_team_info.to_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/match_home_team_info.csv", index=False)
#match_away_score_info.to_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/match_away_score_info.csv", index=False)
match_event_info.to_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/match_event_info.csv", index=False)