# 2. Read table and analysis

1. Read table and processing

In [2]:
import numpy as np
import pandas as pd
import pyarrow.parquet as pa
import zipfile
import os

## read data

In [4]:
path= "D:/DATA_Analayses/Project/TennisGame/data/processed"
dris = os.listdir(path)
name_of_folder = pd.Series(dris)

In [5]:
GameInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/GameInfo.csv").drop(columns=["Unnamed: 0"])
MatchAwayScoreInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/MatchAwayScoreInfo.csv").drop(columns=["Unnamed: 0"])
MatchAwayTeamInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/MatchAwayTeamInfo.csv").drop(columns=["Unnamed: 0"])
MatchEventInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/MatchEventInfo.csv").drop(columns=["Unnamed: 0"])
MatchHomeScoreInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/MatchHomeScoreInfo.csv").drop(columns=["Unnamed: 0"])
MatchHomeTeamInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/MatchHomeTeamInfo.csv").drop(columns=["Unnamed: 0"])
MatchRoundInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/MatchRoundInfo.csv").drop(columns=["Unnamed: 0"])
MatchSeasonInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/MatchSeasonInfo.csv").drop(columns=["Unnamed: 0"])
MatchTimeInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/MatchTimeInfo.csv").drop(columns=["Unnamed: 0"])
MatchTournamentInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/MatchTournamentInfo.csv").drop(columns=["Unnamed: 0"])
MatchVenueInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/MatchVenueInfo.csv").drop(columns=["Unnamed: 0"])
MatchVotesInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/MatchVotesInfo.csv").drop(columns=["Unnamed: 0"])
OddsInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/OddsInfo.csv").drop(columns=["Unnamed: 0"])
PeriodInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/PeriodInfo.csv").drop(columns=["Unnamed: 0"])
PowerInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/PowerInfo.csv").drop(columns=["Unnamed: 0"])

In [20]:
MatchAwayTeamInfo.sort_values(["match_id"]).head(6)

,match_id,name,slug,gender,user_count,residence,birthplace,height,weight,plays,turned_pro,current_prize,total_prize,player_id,current_rank,name_code,country,full_name
8034,12260075,Lehečka J.,lehecka-jiri,M,6858,"Knezmost, Czech Republic","Mlada Boleslav, Czechia",1.85,80.0,right-handed,NaN,763346.0,2988783.0,254742,24.0,LEH,Czech Republic,"Lehečka, Jiří"
7885,12260076,Khachanov K.,khachanov-karen,M,14411,"Dubai, UAE","Moscow, Russia",1.98,87.0,right-handed,2013.0,877460.0,13580818.0,90080,18.0,KHA,Russia,"Khachanov, Karen"
7980,12260077,Alcaraz C.,alcaraz-carlos,M,141553,"El Palmar, Murcia, Spain","El Palmar, Murcia, Spain",1.83,68.0,right-handed,2018.0,1590518.0,24112308.0,275923,3.0,ALC,Spain,"Alcaraz, Carlos"
7616,12260078,Alcaraz C.,alcaraz-carlos,M,141553,"El Palmar, Murcia, Spain","El Palmar, Murcia, Spain",1.83,68.0,right-handed,2018.0,1590518.0,24112308.0,275923,3.0,ALC,Spain,"Alcaraz, Carlos"
887,12260078,Alcaraz C.,alcaraz-carlos,M,140621,"El Palmar, Murcia, Spain","El Palmar, Murcia, Spain",1.83,68.0,right-handed,2018.0,1590518.0,24112308.0,275923,3.0,ALC,Spain,"Alcaraz, Carlos"
8066,12260080,Zverev A.,zverev-alexander,M,60430,"Monte Carlo, Monaco","Hamburg, Germany",1.98,90.0,right-handed,2013.0,2676831.0,34897595.0,57163,4.0,ZVE,Germany,"Zverev, Alexander"

In [22]:
MatchEventInfo.sort_values(["match_id"]).head(6)

,match_id,first_to_serve,home_team_seed,away_team_seed,custom_id,winner_code,default_period_count,start_datetime,match_slug,final_result_only
12210,12260075,1.0,NaN,30,LOfsRUhc,2.0,3,1714499700,lehecka-nadal,True
12088,12260076,1.0,1,16,FyLsvGHb,1.0,3,1714480500,sinner-khachanov,True
11969,12260077,1.0,23,2,QCtsytke,2.0,3,1714484700,alcaraz-struff,True
12366,12260078,1.0,7,2,fKRsytzc,1.0,3,1714564800,alcaraz-rublev,False
1991,12260078,1.0,7,2,fKRzytkc,1.0,3,1714563900,alcaraz-rublev,True
12140,12260080,2.0,21,4,nTxsbvNb,1.0,3,1714488300,cerundolo-zverev,True