# 2. Read table and analysis

1. Read table and processing

In [2]:
import numpy as np
import pandas as pd
import pyarrow.parquet as pa
import zipfile
import os

## read data

In [4]:
path= "D:/DATA_Analayses/Project/TennisGame/data/processed"
dris = os.listdir(path)
name_of_folder = pd.Series(dris)

In [5]:
GameInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/GameInfo.csv").drop(columns=["Unnamed: 0"])
MatchAwayScoreInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/MatchAwayScoreInfo.csv").drop(columns=["Unnamed: 0"])
MatchAwayTeamInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/MatchAwayTeamInfo.csv").drop(columns=["Unnamed: 0"])
MatchEventInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/MatchEventInfo.csv").drop(columns=["Unnamed: 0"])
MatchHomeScoreInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/MatchHomeScoreInfo.csv").drop(columns=["Unnamed: 0"])
MatchHomeTeamInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/MatchHomeTeamInfo.csv").drop(columns=["Unnamed: 0"])
MatchRoundInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/MatchRoundInfo.csv").drop(columns=["Unnamed: 0"])
MatchSeasonInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/MatchSeasonInfo.csv").drop(columns=["Unnamed: 0"])
MatchTimeInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/MatchTimeInfo.csv").drop(columns=["Unnamed: 0"])
MatchTournamentInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/MatchTournamentInfo.csv").drop(columns=["Unnamed: 0"])
MatchVenueInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/MatchVenueInfo.csv").drop(columns=["Unnamed: 0"])
MatchVotesInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/MatchVotesInfo.csv").drop(columns=["Unnamed: 0"])
OddsInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/OddsInfo.csv").drop(columns=["Unnamed: 0"])
PeriodInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/PeriodInfo.csv").drop(columns=["Unnamed: 0"])
PowerInfo = pd.read_csv("D:/DATA_Analayses/Project/TennisGame/data/processed/PowerInfo.csv").drop(columns=["Unnamed: 0"])

### 1.	How many tennis players are included in the dataset?

In [51]:
MatchHomeTeamInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14090 entries, 0 to 14089
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   match_id       14090 non-null  int64
 1   name           14090 non-null  object
 2   slug           14090 non-null  object
 3   gender         14061 non-null  object
 4   user_count     14090 non-null  int64
 5   residence      3764 non-null   object
 6   birthplace     7806 non-null   object
 7   height         7585 non-null   float64
 8   weight         3610 non-null   float64
 9   plays          6737 non-null   object
 10  turned_pro     2668 non-null   float64
 11  current_prize  13984 non-null  float64
 12  total_prize    14047 non-null  float64
 13  player_id      14090 non-null  int64
 14  current_rank   13933 non-null  float64
 15  name_code      14090 non-null  object
 16  country        14090 non-null  object
 17  full_name      14090 non-null  object
dtypes: float64(6), int64(3), object(9)
memory usage: 1.9+ MB

1st way: Find player with player_id

In [47]:
player_id = pd.concat([MatchAwayTeamInfo["player_id"], MatchHomeTeamInfo["player_id"]])
player_id.unique().size

2352

2nd way: Find player with full_name

In [50]:
player_full_name = pd.concat([MatchAwayTeamInfo["full_name"], MatchHomeTeamInfo["full_name"]])
player_full_name.unique().size

2353

### 2.	What is the average height of the players?

In [55]:
MatchAwayTeamInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12955 entries, 0 to 12954
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   match_id       12955 non-null  int64
 1   name           12955 non-null  object
 2   slug           12955 non-null  object
 3   gender         12933 non-null  object
 4   user_count     12955 non-null  int64
 5   residence      3601 non-null   object
 6   birthplace     7235 non-null   object
 7   height         7008 non-null   float64
 8   weight         3496 non-null   float64
 9   plays          6432 non-null   object
 10  turned_pro     2586 non-null   float64
 11  current_prize  12808 non-null  float64
 12  total_prize    12900 non-null  float64
 13  player_id      12955 non-null  int64
 14  current_rank   12733 non-null  float64
 15  name_code      12955 non-null  object
 16  country        12954 non-null  object
 17  full_name      12955 non-null  object
dtypes: float64(6), int64(3), object(9)
memory usage: 1.8+ MB

In [111]:
player_info = pd.concat([MatchAwayTeamInfo[["player_id", "height"]]
                        , MatchHomeTeamInfo[["player_id", "height"]]])

player_info[player_info.duplicated()].sort_values("player_id")
#----------------------------------
player_info
player_id = player_info["player_id"].unique()
player_id_nan_notna=[]
for i in range(player_id.size):
    nullcount = player_info[player_info["player_id"]==player_id[i]]["height"].isna().sum()
    nanullcount = player_info[player_info["player_id"]==player_id[i]]["height"].notna().sum()
    if nullcount != 0:
        if nanullcount !=0:
            player_id_nan_notna.append(i)
            print(i)

print(player_id_nan_notna)

36
217
878
1452
1684
1985
2321
[36, 217, 878, 1452, 1684, 1985, 2321]

In [113]:
player_info[player_info["player_id"]==374578].sort_values("height").ffill()

       player_id  height
37        374578     NaN
282       374578     NaN
7316      374578     NaN
9300      374578     NaN
246       374578     NaN
517       374578     NaN
1162      374578     NaN
2834      374578    1.67
5317      374578     NaN
8579      374578    1.67
13272     374578     NaN
13865     374578     NaN

In [110]:
player_id[36]
for i in player_id_nan_notna:
    player_info = player_info[player_info["player_id"]==i].sort_values("height").ffill()


player_info

Empty DataFrame
Columns: [player_id, height]
Index: []